# ==============================================================================
# CONFIGURACIÓN DE VARIABLES DE ENTORNO: BACKEND PIZZERÍA
# ==============================================================================

# Puerto de escucha del servidor Express
PORT=3000

# Conexión a Base de Datos PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_USER=pizzeria_user
DB_PASSWORD=pizzeria_pass_1234
DB_NAME=pizzeria_db

# Entorno de ejecución (development / production)
NODE_ENV=development

# ==============================================================================
# 5. PASARELA DE PAGOS STRIPE (OPCIONAL / DIDÁCTICO)
# Si se dejan en blanco, el aplicativo funcionará al 100% con efectivo y datáfono.
# Obtén tus claves de prueba gratuitas en https://dashboard.stripe.com/test/apikeys
# ==============================================================================
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
FRONTEND_URL=http://localhost
